<div id="map-canvas"></div>
<div id="logo">
  <div id="reddit-alien">
    <div class="antenna">
      <div class="dot"></div>
    </div>
    <div class="ear left"></div>
    <div class="ear right"></div>
    <div class="head">
      <div id="left-eye" class="eyes eye left"></div>
      <div id="right-eye" class="eyes eye right"></div>
      <div class="mouth"></div>
    </div>
    <div class="arm left"></div>
    <div class="arm right"></div>
    <div class="body"></div>
    <div class="foot left"></div>
    <div class="foot right"></div>
  </div>
</div>
